<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bluerov2_heavy_urdf" params="prefix">

    <link name="${prefix}base_footprint" />

    <link name="${prefix}base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.011" />
        <mass value="13.0" />
        <inertia
          ixx="0.26"
          ixy="0"
          ixz="0"
          iyy="0.23"
          iyz="0"
          izz="0.37"
        />
      </inertial>
      <visual>
        <geometry>
          <mesh
            filename="file://$(find blue_description)/meshes/bluerov2_heavy/bluerov2_heavy.dae"
            scale="0.025 0.025 0.025"
          />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0" />
      </visual>
      <collision name="base_link_collision">
        <geometry>
          <mesh
            filename="file://$(find blue_description)/meshes/bluerov2_heavy/bluerov2_heavy_collision.dae"
            scale="0.025 0.025 0.025"
          />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0" />
      </collision>
      <!-- Buoyancy volume for gz graded_buoyancy plugin (mesh collisions are ignored).
           Footprint 0.457 x 0.575 matches the outer frame dimensions.
           Height 0.0495 m gives volume 0.013 m^3 -> 127.5 N buoyancy = 13.0 kg x 9.81 (neutral).
           Origin z=0.06 places the centre of buoyancy above the centre of gravity (z=0.011)
           for roll/pitch stability. -->
      <collision name="base_link_buoyancy">
        <geometry>
          <box size="0.457 0.575 0.0495" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.06" />
      </collision>
    </link>

    <joint name="${prefix}base_footprint_joint" type="fixed">
      <parent link="${prefix}base_footprint" />
      <child link="${prefix}base_link" />
    </joint>

    <!-- Import camera macro -->
    <xacro:include filename="$(find blue_description)/description/camera/urdf.xacro" />

    <xacro:camera_urdf prefix="${prefix}" parent="${prefix}base_link">
      <origin rpy="0 0 0" xyz="0.21 0 0.067" />
    </xacro:camera_urdf>

    <!-- Import T200 macro -->
    <xacro:include filename="$(find blue_description)/description/t200/urdf.xacro" />

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="1">
      <origin rpy="-1.571 1.571 -0.785" xyz="0.14 -0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="2">
      <origin rpy="-1.571 1.571 -2.356" xyz="0.14 0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="3">
      <origin rpy="-1.571 1.571 0.785" xyz="-0.15 -0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="4">
      <origin rpy="-1.571 1.571 2.356" xyz="-0.15 0.092 0.0" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="5">
      <origin rpy="0 0 0" xyz="0.118 -0.215 0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="6">
      <origin rpy="0 0 0" xyz="0.118 0.215 0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="false" id="7">
      <origin rpy="0 0 0" xyz="-0.118 -0.215 0.064" />
    </xacro:t200_urdf>

    <xacro:t200_urdf parent="${prefix}base_link" prefix="${prefix}" ccw="true" id="8">
      <origin rpy="0 0 0" xyz="-0.118 0.215 0.064" />
    </xacro:t200_urdf>

  </xacro:macro>
</robot>
